

.app{
  display: flex;
  padding: 60px;
  /* margin-left: 430px; */

 
}

.game{
  width:600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  margin: auto;
  
}



.game img{
  width:70px;
  height: 70px;
}

 .toggle h1{
 font-size: 40px;
  margin-left: 650px; 
  
}

.toggle button{
  margin-left: 120px;
  margin-top: 20px;
   
 }  
 
